.container {
	/*display: flex;
	flex-flow: row wrap;
	justify-content: space-around;*/
}
.header {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}

h1 {
	color: red;
}

.flexbox-container {
	display: flex;
}

.add-item {
	width: 30%;
	flex-basis: auto;
}

.items-list {
	width: 70%;
	flex-basis: auto;
}
